.my-navbar{
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}
button.navbar-toggler.collapsed {
    outline: none !important;
    border: none;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: unset;
}